<div class="wrap">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 brands-select">
            <h1>Please select a Brand</h1>
            <select (change)="onChangeBrand($event.target.value)" class="form-control form-control-lg">
                <option>No selected brand</option>
                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
            </select>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row justify-content-center data">
        <div class="col-md-10">
            <h3 *ngIf="noModelsFound" class="center no-found-models">No models found!</h3>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Model</th>
                        <th scope="col">
                            <app-create-brand-model (onChangeBrandFunction)="onChangeBrand($event)">
                            </app-create-brand-model>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let model of brandModels;let i=index">
                        <th scope="row">{{i+1}}</th>
                        <td>{{model.brandName}}</td>
                        <td>{{model.name}}</td>
                        <td>
                            <button (click)="fillFormWithData(model.id)" type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleEditModal">
                                <i class="fas fa-edit"></i> Edit
                            </button>
                            &nbsp;&nbsp;
                            <button type="button" (click)="selectModelId(model.id)" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
                                <i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="exampleEditModal" tabindex="-1" role="dialog" aria-labelledby="exampleEditModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleEditModalLabel">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="editBrandModelForm" (ngSubmit)="edit()">
                        <div class="form-group">
                            <label for="edit-recipient-name" class="col-form-label">Model name:</label>
                            <input type="text" class="form-control" id="edit-recipient-name" formControlName="name">
                        </div>
                        <div *ngIf="name.touched && name.errors?.required" class="alert alert-danger">
                            Model name field is required!
                        </div>
                        <div *ngIf="name.touched && name.errors?.maxlength" class="alert alert-danger">
                            Model name can't be longer than 30 characters!
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">Brand:</label>
                            <select class="form-control form-control-md" formControlName="brandId">
                                <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                            </select>
                        </div>
                        <div *ngIf="brandId.touched && brandId.errors?.required" class="alert alert-danger">
                            Brand is required!
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary close-edit-button" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-info">Edit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to permanently remove this model?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary delete-modal-close-button" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
                  </div>
            </div>
        </div>
    </div>
</div>