.edit-form {
    margin-top: 10vh;
    border: 3.5px solid #0099FF;
    padding: 15% 15%;
    padding-top: 7%;
    border-radius: 13px;
    margin-bottom: 15%;
    padding-bottom: 8%;
}

.edit-heading {
    text-align: center;
    margin-bottom: 10%;
}

.profilePicture {
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
}

.deletePicture {
    position: absolute;
    top: 37px;
    left: 170px;
    cursor: pointer;
    font-size: 22px;
    border-radius: 12px;
    display: inline;
    padding: 0px 9px;
    color: black;
}

.deletePicture:hover {
    color: white;
}