<div *ngFor="let reply of replies" class="media mt-3">
    <a href="#">
        <img *ngIf="!reply.author.profilePictureUrl" class="align-self-top mr-3"
            src="https://res.cloudinary.com/doyjshrjs/image/upload/v1605824294/CarZone/profile-3-512_oxlumq.png"
            alt="Generic placeholder image">
        <img *ngIf="reply.author.profilePictureUrl" class="align-self-top mr-3 circle" [src]="reply.author.profilePictureUrl"
            alt="Generic placeholder image">
    </a>
    <div class="media-body">
        <div *ngIf="(selectedReplyId != reply.id) || !isEditing">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mt-0"><a [routerLink]="['/user', reply.author.id]">{{reply.author.username}}</a></h5>
                <small>{{reply.createdOn | date:'dd/MM/yyyy h:mm a':'UTC+4'}}</small>
            </div>
            <h6>{{reply.content}}</h6>
            <button *ngIf="isAdmin || currentUserId == reply.author.id" (click)="activateEditingAndSelectReply(reply.id)" class="btn btn-primary btn-sm">Edit</button>
            <a *ngIf="isAdmin || currentUserId == reply.author.id" class="btn btn-danger btn-sm"
                (click)="selectReply(reply.id)" data-toggle="modal" data-target="#exampleModal">Delete</a>
        </div>
        <app-edit-reply *ngIf="(selectedReplyId == reply.id) && isEditing" (cancelEditForm)="deactivateEditingAndUnselectReply($event)"  [replyId]="selectedReplyId" [rootCommentId]="rootCommentId"></app-edit-reply>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to permanently remove this reply?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-reply-modal-button" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="delete(selectedReplyId)">Delete</button>
            </div>
        </div>
    </div>
</div>