.media img {
	min-width: 70px;
    max-width: 70px;
    min-height: 70px;
	max-height: 70px;
    margin-right: 10px !important;
}

.circle {
	border-radius: 100%;
}

.media h6 {
    font-size: 15px;
}

.media h5 {
    font-size: 18px;
}

.btn {
    margin-left: 3px;
}