<div class="d-flex w-100 justify-content-between">
  <h3 *ngIf="comments" class="count">{{comments.length}} Comments</h3>
</div>
<div *ngFor="let comment of comments" class="media single-comment">
  <img *ngIf="!comment.author.profilePictureUrl" class="align-self-top mr-3"
    src="https://res.cloudinary.com/doyjshrjs/image/upload/v1605824294/CarZone/profile-3-512_oxlumq.png"
    alt="Generic placeholder image">
  <img *ngIf="comment.author.profilePictureUrl" class="align-self-top mr-3 circle" [src]="comment.author.profilePictureUrl"
    alt="Generic placeholder image">
  <div class="media-body comment-body">
    <div *ngIf="(selectedCommentId != comment.id) || !isEditing">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mt-0"><a [routerLink]="['/user', comment.author.id]">{{comment.author.username}}</a></h5>
        <small>13.01.2020</small>
      </div>
      <h6>{{comment.content}}</h6>
      <div class="d-flex w-100 justify-content-between">
        <div>
          <button *ngIf="isLoggedIn" (click)="activateReplyingAndSelectComment(comment.id)" class="btn btn-primary btn-sm">Reply</button>
          <button *ngIf="isAdmin || currentUserId == comment.author.id" (click)="activateEditingAndSelectComment(comment.id)"
            class="btn btn-primary btn-sm">Edit</button>
          <a *ngIf="isAdmin || currentUserId == comment.author.id" class="btn btn-danger btn-sm"
            (click)="selectComment(comment.id)" type="button" data-toggle="modal" data-target="#deleteCommentModal">Delete</a>
        </div>
        <h6 *ngIf="comment.repliesCount == 0">0 Replies</h6>
        <a *ngIf="comment.repliesCount == 1" (click)="selectCommentAndToggleRepliesShowing(comment.id)" class="btn bg-info text-white btn-sm">1 Reply</a>
        <a *ngIf="comment.repliesCount > 1" (click)="selectCommentAndToggleRepliesShowing(comment.id)" class="btn bg-info text-white btn-sm">{{comment.repliesCount}} Replies</a>
      </div>
    </div>

    <app-edit-comment *ngIf="(selectedCommentId == comment.id) && isEditing" (cancelEditForm)="deactivateEditingAndUnselectedComment($event)"  [commentId]="selectedCommentId" [advertisementId]="advertisementId"></app-edit-comment>

    <app-create-reply *ngIf="(selectedCommentId == comment.id) && isReplying" (stopReplying)="deactivateIsReplying($event)" (showReplies)="showReplies($event)" [advertisementId]="advertisementId" [rootCommentId]="comment.id"></app-create-reply>
    <app-list-replies *ngIf="(selectedCommentId == comment.id) && isRepliesShown" [advertisementId]="advertisementId" [rootCommentId]="comment.id"></app-list-replies>
    
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deleteCommentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Deletion</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to permanently remove this comment?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary comment-close-button" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" (click)="deleteComment(selectedCommentId)">Delete</button>
      </div>
    </div>
  </div>
</div>