.media img {
	min-width: 85px;
	max-width: 85px;
}

.count {
	margin-top: 15px;
    margin-bottom: 30px;
}

.comment-body {
	max-width: 850px;
}

.single-comment {
	margin: 15px 0px;
}

.btn {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 5px;
}

.comment-content {
	margin-bottom: 20px;
}

.hide-edit-form-button {
	margin-left: 0;
}