<section class="featured-places">
    <div class="container">
        <form action="#">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Used/New:</label>
             
                         <select class="form-control">
                              <option value="">All</option>
                              <option value="new">New vehicle</option>
                              <option value="used">Used vehicle</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Vehicle Type:</label>
             
                         <select class="form-control">
                              <option value="">--All --</option>
                              <option value="">--All --</option>
                              <option value="">--All --</option>
                              <option value="">--All --</option>
                              <option value="">--All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Make:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Model:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Price:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Mileage:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Engine size:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Power:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Fuel:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Gearbox:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Doors:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Number of seats:</label>
             
                         <select class="form-control">
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                              <option value="">-- All --</option>
                         </select>
                    </div>
                </div>
            </div>

            <div class="text-center blue-button">
                <a href="#">Search</a>
            </div>
        </form>
    </div>
</section>

<section class="featured-places">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-1-720x480.jpg" alt="">
                        </div>
                        <div class="overlay-content">
                          <strong><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cube"></i> 1800 cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cog"></i> Manual</strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <br>

                        <p>190 hp  /  Petrol  /  2008  /  Used vehicle</p>

                        <p><span><strong><sup>$</sup>11779.00</strong></span></p>

                        <div class="text-button">
                            <a href="car-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-2-720x480.jpg" alt="">
                        </div>
                        <div class="overlay-content">
                          <strong><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cube"></i> 1800 cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cog"></i> Manual</strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <br>

                        <p>190 hp  /  Petrol  /  2008  /  Used vehicle</p>

                        <p><span><strong><sup>$</sup>11779.00</strong></span></p>

                        <div class="text-button">
                            <a href="car-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-3-720x480.jpg" alt="">
                        </div>
                        <div class="overlay-content">
                          <strong><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cube"></i> 1800 cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cog"></i> Manual</strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <br>

                        <p>190 hp  /  Petrol  /  2008  /  Used vehicle</p>

                        <p><span><strong><sup>$</sup>11779.00</strong></span></p>

                        <div class="text-button">
                            <a href="car-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-4-720x480.jpg" alt="">
                        </div>
                        <div class="overlay-content">
                          <strong><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cube"></i> 1800 cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cog"></i> Manual</strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <br>

                        <p>190 hp  /  Petrol  /  2008  /  Used vehicle</p>

                        <p><span><strong><sup>$</sup>11779.00</strong></span></p>

                        <div class="text-button">
                            <a href="car-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-5-720x480.jpg" alt="">
                        </div>
                        <div class="overlay-content">
                          <strong><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cube"></i> 1800 cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cog"></i> Manual</strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <br>

                        <p>190 hp  /  Petrol  /  2008  /  Used vehicle</p>

                        <p><span><strong><sup>$</sup>11779.00</strong></span></p>

                        <div class="text-button">
                            <a href="car-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img src="img/product-6-720x480.jpg" alt="">
                        </div>
                        <div class="overlay-content">
                          <strong><i class="fa fa-dashboard"></i> 130 000km</strong> &nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cube"></i> 1800 cc</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                          <strong><i class="fa fa-cog"></i> Manual</strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>

                        <br>

                        <p>190 hp  /  Petrol  /  2008  /  Used vehicle</p>

                        <p><span><strong><sup>$</sup>11779.00</strong></span></p>

                        <div class="text-button">
                            <a href="car-details.html">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
