<section class="featured-places">
    <div class="container">
        <form [formGroup]="searchForm" (ngSubmit)="search()">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Make:</label>

                        <select (change)="onChangeBrand($event)" formControlName="brandId"
                            class="form-control">
                            <option value="">All</option>
                            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Model:</label>

                        <select class="form-control" formControlName="modelId" (change)="onChangeModel($event)">
                            <option *ngIf="!brandModels" value="">No selected make</option>
                            <option *ngIf="brandModels" value="">All</option>
                            <option *ngFor="let model of brandModels" [value]="model.id">{{model.name}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Condition:</label>
                        <select class="form-control" formControlName="condition">
                            <option value="">All</option>
                            <option *ngFor="let condition of conditionTypes" [value]="condition">{{condition}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Vehicle Type:</label>
                        <select class="form-control" formControlName="bodyType">
                            <option value="">All</option>
                            <option *ngFor="let bodyType of bodyTypes" [value]="bodyType">{{bodyType}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Fuel Type</label>
                        <select class="form-control" formControlName="fuelType">
                            <option value="">All</option>
                            <option *ngFor="let fuelType of fuelTypes" [value]="fuelType">{{fuelType}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Gearbox:</label>

                        <select class="form-control" formControlName="transmission">
                            <option value="">All</option>
                            <option *ngFor="let transmissionType of transmissionTypes" [value]="transmissionType">
                                {{transmissionType}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Color:</label>
                        <select class="form-control" formControlName="color">
                            <option value="">All</option>
                            <option *ngFor="let color of colors" [value]="color">{{color}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Location:</label>
                        <select class="form-control" formControlName="location">
                            <option value="">All</option>
                            <option *ngFor="let location of locations" [value]="location">{{location}}</option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>EuroStandard:</label>
                        <select class="form-control" formControlName="euroStandard">
                            <option value="">All</option>
                            <option *ngFor="let euroStandard of euroStandards" [value]="euroStandard">{{euroStandard}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Doors Count:</label>
                        <select class="form-control" formControlName="doorsCount">
                            <option value="">All</option>
                            <option *ngFor="let doorsCount of doorsCounts" [value]="doorsCount">{{doorsCount}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-center">Price</h5>
                    <div class="number-input">
                        <div class="min-div">
                            <label>Min:</label>&nbsp;
                            $<input type="number" formControlName="minPrice">
                        </div>
                        <div>
                            <label>Max:</label>&nbsp;
                            $<input type="number" formControlName="maxPrice">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-center">Year</h5>
                    <div class="number-input">
                        <div class="min-div">
                            <label>Min:</label>&nbsp;
                            <input type="number" formControlName="minYear">
                        </div>
                        <div>
                            <label>Max:</label>&nbsp;
                            <input type="number" formControlName="maxYear">
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h5 class="text-center">Horse Power</h5>
                    <div class="number-input">
                        <div class="min-div">
                            <label>Min:</label>&nbsp;
                            <input type="number" formControlName="minHorsePower">
                        </div>
                        <div>
                            <label>Max:</label>&nbsp;
                            <input type="number" formControlName="maxHorsePower">
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center blue-button">
                <button type="submit">Search</button>
            </div>
        </form>
    </div>
</section>

<section class="featured-places car-results">
    <div class="container">
        <div *ngIf="foundCarsCount != undefined" class="constraints">
            <div *ngIf="selectedBrandName && selectedBrandName != 'All'" class="select-constraint">
                Make: <strong>{{selectedBrandName}} <i (click)="removeSearchConstraint('brand')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="selectedModelName && selectedModelName != 'All' && searchForm.value.modelId != ''" class="select-constraint">
                Model: <strong>{{selectedModelName}} <i (click)="removeSearchConstraint('model')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.condition && searchForm.value.condition != 'All'" class="select-constraint">
                Condition: <strong>{{searchForm.value.condition}} <i (click)="removeSearchConstraint('condition')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.bodyType && searchForm.value.bodyType != 'All'" class="select-constraint">
                Vehicle Type: <strong>{{searchForm.value.bodyType}} <i (click)="removeSearchConstraint('bodyType')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.fuelType && searchForm.value.fuelType != 'All'" class="select-constraint">
                Fuel Type: <strong>{{searchForm.value.fuelType}} <i (click)="removeSearchConstraint('fuelType')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.transmission && searchForm.value.transmission != 'All'" class="select-constraint">
                Gearbox: <strong>{{searchForm.value.transmission}} <i (click)="removeSearchConstraint('transmission')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.color && searchForm.value.color != 'All'" class="select-constraint">
                Color: <strong>{{searchForm.value.color}} <i (click)="removeSearchConstraint('color')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.location && searchForm.value.location != 'All'" class="select-constraint">
                Location: <strong>{{searchForm.value.location}} <i (click)="removeSearchConstraint('location')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.euroStandard && searchForm.value.euroStandard != 'All'" class="select-constraint">
                Euro Standard: <strong>{{searchForm.value.euroStandard}} <i (click)="removeSearchConstraint('euroStandard')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.doorsCount && searchForm.value.doorsCount != 'All'" class="select-constraint">
                Doors Count: <strong>{{searchForm.value.doorsCount}} <i (click)="removeSearchConstraint('doorsCount')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.minPrice" class="select-constraint">
                Min Price: <strong>${{searchForm.value.minPrice}} <i (click)="removeSearchConstraint('minPrice')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.maxPrice" class="select-constraint">
                Max Price: <strong>${{searchForm.value.maxPrice}} <i (click)="removeSearchConstraint('maxPrice')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.minYear" class="select-constraint">
                Min Year: <strong>{{searchForm.value.minYear}} <i (click)="removeSearchConstraint('minYear')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.maxYear" class="select-constraint">
                Max Year: <strong>{{searchForm.value.maxYear}} <i (click)="removeSearchConstraint('maxYear')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.minHorsePower" class="select-constraint">
                Min HorsePower: <strong>{{searchForm.value.minHorsePower}} <i (click)="removeSearchConstraint('minHorsePower')" class="fas fa-times-circle"></i></strong>
            </div>
            <div *ngIf="searchForm.value.maxHorsePower" class="select-constraint">
                Max HorsePower: <strong>{{searchForm.value.maxHorsePower}} <i (click)="removeSearchConstraint('maxHorsePower')" class="fas fa-times-circle"></i></strong>
            </div>
        </div>
        <h2 *ngIf="foundCarsCount != undefined" class="text-center results">{{foundCarsCount}} Cars Found</h2>
        <div *ngIf="isSearching" class="d-flex justify-content-center loader">
            <app-loader></app-loader>
        </div>
        <div class="row">
            <div *ngFor="let advertisement of advertisements" class="col-md-4 col-sm-6 col-xs-12 article">
                <div class="featured-item">
                    <div class="thumb">
                        <div class="thumb-img">
                            <img *ngIf="!advertisement.imageUrl" src="https://res.cloudinary.com/doyjshrjs/image/upload/v1605531253/CarZone/13738943-24586l_xyzdih.png" alt="">
                            <img [src]="advertisement.imageUrl" alt="">
                        </div>
                        <div class="overlay-content">
                            <strong><i class="fas fa-map-marker-alt"></i>
                                {{advertisement.location ? advertisement.location : 'No location'}}</strong>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <strong><i class="fas fa-eye"></i> {{advertisement.views}}</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                            <strong><a [routerLink]="['/user', advertisement.author.id]" class="user-info"><i class="fas fa-user"></i>
                                    {{advertisement.author.username | shortenUsername}}</a></strong>
                        </div>
                    </div>
                    <div class="down-content">
                        <h4>{{advertisement.title}}</h4>
                        <br>
                        <p>{{advertisement.car.horsePower}} hp
                            / {{advertisement.car.fuelType}}
                            / {{advertisement.car.year}}
                            / {{advertisement.car.transmission}}
                            / {{advertisement.car.mileage}}km</p>
                        <p>
                            <span>
                                <strong><sup>$</sup>{{advertisement.car.price.toFixed(2)}}</strong>
                            </span>
                        </p>
                        <div class="text-button">
                            <a [routerLink]="['/advertisement', advertisement.id]">View More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>