<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a (click)="navigateTo('advertisements')">
                        <div href="/advertisements">
                            <h1 class="header-logo">CarZone</h1>
                        </div>
                    </a>
                    <nav>
                        <ul class="nav-ul">
                            <li>
                                <a (click)="navigateTo('advertisements')" class="nav-button">Home</a>
                            </li>
                            <li>
                                <a (click)="navigateTo('advertisements')" class="nav-button">Cars</a>
                            </li>
                            <li *ngIf="isLoggedIn">
                                <a class="nav-button">Create Ad</a>
                            </li>
                            <li *ngIf="!isLoggedIn">
                                <a (click)="navigateTo('login')" class="nav-button">Login</a>
                            </li>
                            <li *ngIf="!isLoggedIn">
                                <a (click)="navigateTo('register')" class="nav-button">Register</a>
                            </li>
                            <li *ngIf="isLoggedIn" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Profile
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a (click)="logout()" class="dropdown-item">Logout</a>
                                    <div class="dropdown-divider"></div>
                                    <a *ngIf="isAdmin" (click)="navigateTo('admin/brandModels')" class="dropdown-item">Admin</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>