<div class="wrap">
    <header id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="index.html">
                        <div class="logo">
                            <a href="/advertisements">
                                <h1 class="header-logo">CarZone</h1>
                            </a>
                        </div>
                    </a>
                    <nav>
                        <ul class="nav-ul">
                            <li>
                                <a href="/advertisements">Home</a>
                            </li>
                            <li>
                                <a href="/advertisements">Cars</a>
                            </li>
                            <li *ngIf="isLoggedIn">
                                <a href="#">Create Ad</a>
                            </li>
                            <li *ngIf="!isLoggedIn">
                                <a href="/login">Login</a>
                            </li>
                            <li *ngIf="!isLoggedIn">
                                <a href="/register">Register</a>
                            </li>
                            <li *ngIf="isLoggedIn" class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Profile
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <a (click)="logout()" class="dropdown-item">Logout</a>
                                  <div class="dropdown-divider"></div>
                                  <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>
</div>
