<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleCreateModal">
    <i class="fas fa-plus"></i> &nbsp;Add new
</button>
<div class="modal fade" id="exampleCreateModal" tabindex="-1" role="dialog" aria-labelledby="exampleCreateModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleCreateModal">Create new model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createBrandModelForm" (ngSubmit)="create()">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Model name:</label>
                        <input type="text" class="form-control" id="recipient-name" formControlName="name">
                    </div>
                    <div *ngIf="name.touched && name.errors?.required" class="alert alert-danger">
                        Model name field is required!
                    </div>
                    <div *ngIf="name.touched && name.errors?.maxlength" class="alert alert-danger">
                        Model name can't be longer than 30 characters!
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Brand:</label>
                        <select class="form-control form-control-md" formControlName="brandId">
                            <option *ngFor="let brand of brands" [value]="brand.id">{{brand.name}}</option>
                        </select>
                    </div>
                    <div *ngIf="brandId.touched && brandId.errors?.required" class="alert alert-danger">
                        Brand is required!
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary close-create-modal-button" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>