<form [formGroup]="editCommentForm" (ngSubmit)="edit()" class="edit-form">
    <div class="form-group">
        <h6>Edit:</h6>
        <textarea name="CommentContent" class="form-control" rows="2" formControlName="content"></textarea>
    </div>
    <div *ngIf="content.touched && content.errors?.required" class="alert alert-danger">
        Comment field is required!
    </div>
    <div *ngIf="content.touched && content.errors?.minlength" class="alert alert-danger">
        Comment must contain at least 2 characters!
    </div>
    <div *ngIf="content.touched && content.errors?.maxlength" class="alert alert-danger">
        Comment can't be longer than 300 characters!
    </div>
    <div class="form-group save-edits">
        <input type="submit" value="Save Edits" class="btn btn-primary btn-sm" />
    </div>
</form>