<div class="wrap">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form [formGroup]="registerForm" class="register-form" (ngSubmit)="register()">
                <h1 class="register-heading">Register</h1>
                <div class="form-group">
                    <label for="exampleInputUsername">Username</label>
                    <input type="text" class="form-control" formControlName="username">
                </div>
                <div *ngIf="username.touched && username.errors?.required" class="alert alert-danger">
                    Username field is required!
                </div>
                <div *ngIf="username.touched && username.errors?.minlength" class="alert alert-danger">
                    Username must contain at least 3 characters!
                </div>
                <div *ngIf="username.touched && username.errors?.maxlength" class="alert alert-danger">
                    Username can't be longer than 30 characters!
                </div>
                <div class="form-group">
                    <label for="exampleInputFullName">Full Name</label>
                    <input type="text" class="form-control" formControlName="fullName">
                </div>
                <div *ngIf="fullName.touched && fullName.errors?.required" class="alert alert-danger">
                    Fullname field is required!
                </div>
                <div *ngIf="fullName.touched && fullName.errors?.minlength" class="alert alert-danger">
                    Fullname must contain at least 3 characters!
                </div>
                <div *ngIf="fullName.touched && fullName.errors?.maxlength" class="alert alert-danger">
                    Fullname can't be longer than 30 characters!
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail">Email</label>
                    <input type="email" class="form-control" formControlName="email">
                </div>
                <div *ngIf="email.touched && email.errors?.required" class="alert alert-danger">
                    Email field is required!
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword">Password</label>
                    <input type="password" class="form-control" formControlName="password">
                </div>
                <div *ngIf="password.touched && password.errors?.required" class="alert alert-danger">
                    Password field is required!
                </div>
                <div *ngIf="password.touched && password.errors?.minlength" class="alert alert-danger">
                    Password field must contain at least 6 characters!
                </div>
                <button type="submit" class="btn btn-outline-primary">Register</button>
                <h5>Already have an account?</h5> 
                <a (click)="navigateTo('login')" class="link">Login</a>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>