div {
	overflow-x: hidden;
}

#wrapper > * > .inner {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	padding: 0 2.5em;
}
     
#main {
    margin-top: 50px;
}

ul {
    padding: 0;
}

.extras,
.contact {
    padding: 0
}

ul li {
	list-style: disc;
}

.align-center {
	text-align: center;
}

.car-extras {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.car-extras ul {
	margin-top: 15px;
}

.car-extras ul h3 {
	margin-bottom: 25px;
}

.car-extras ul li {
	font-size: 15px;
	font-weight: 600;
}

.car-info {
	margin-top: 30px;
}

.description {
	margin-top: 30px;
}

.price {
	margin-top: 30px;
	font-weight: bold;
	font-size: 30px;
}

.media img {
	min-width: 85px;
	max-width: 85px;
}

.contact-info {
	padding: 0;
}

.contact-header {
	margin-bottom: 0;
}

.first-contact-info {
	padding-left: 0;
}

.first-pic img {
	min-height: 390px;
	max-height: 390px;
}

.normal-pics img {
	min-height: 120px;
	max-height: 120px;
}


@media screen and (max-width: 736px) {
	#wrapper > * > .inner {
		padding: 0 1.25em;
	}
 }

@media all and (max-width: 600px) {
	.car-extras {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 12px;
	}

	.contact-info {
		flex-direction: column;
	}
}

