<app-header></app-header>
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="row">
                <div class="col-md-6 col-xs-12">
                    <div class="first-pic">
                        <img src="https://images.ams.bg/images/galleries/108709/mazda-premacy-1460788478_big.jpg" alt=""
                            class="img-responsive wc-image">
                    </div>

                    <br>

                    <div class="row normal-pics">
                        <div class="col-sm-4 col-xs-6">
                            <div>
                                <img src="https://images.ams.bg/images/galleries/108709/mazda-premacy-1460788478_big.jpg"
                                    alt="" class="img-responsive">
                            </div>

                            <br>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <div>
                                <img src="https://images.ams.bg/images/galleries/108709/mazda-premacy-1460788478_big.jpg"
                                    alt="" class="img-responsive">
                            </div>

                            <br>
                        </div>

                        <div class="col-sm-4 col-xs-6">
                            <div>
                                <img src="https://images.ams.bg/images/galleries/108709/mazda-premacy-1460788478_big.jpg"
                                    alt="" class="img-responsive">
                            </div>

                            <br>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-xs-12">
                    <h2>Lorem ipsum dolor sit amet</h2>

                    <p class="lead description">ABS, Leather seats, Power Assisted Steering, Electric heated seats, New
                        HU and AU, Xenon headlights</p>

                    <p class="lead price"><strong class="text-primary">$11779.00</strong></p>

                    <div class="row car-info">
                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Type</span>
                                <br>
                                <strong>Used vehicle</strong>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Make</span>
                                <br>
                                <strong>Lorem ipsum dolor sit</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span> Model</span>
                                <br>
                                <strong>Lorem ipsum dolor sit</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>First registration</span>
                                <br>
                                <strong>05/2010</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Mileage</span>
                                <br>
                                <strong>5000 km</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Fuel</span>
                                <br>
                                <strong>Diesel</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Engine size</span>
                                <br>
                                <strong>1800 cc</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Power</span>
                                <br>
                                <strong>85 hp</strong>
                            </p>
                        </div>


                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Gearbox</span>
                                <br>
                                <strong>Manual</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Number of seats</span>
                                <br>
                                <strong>4</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Doors</span>
                                <br>
                                <strong>2/3</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Color</span>
                                <br>
                                <strong>Black</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 first-contact-info">
                        <div class="col-lg-12 col-xs-12 contact-info">
                            <div class="card">
                                <div class="card-header align-center contact-header">
                                    <h3>Contact Details:</h3>
                                </div>
                                <div class="card-body">
                                    <p>
                                        <span>Name</span>
                                        <br>
                                        <strong>John Smith</strong>
                                    </p>
                                    <p>
                                        <span>Phone</span>
                                        <br>
                                        <strong><a href="tel:123-456-789">123-456-789</a></strong>
                                    </p>
                                    <p>
                                        <span>Mobile phone</span>
                                        <br>
                                        <strong><a href="tel:456789123">456789123</a></strong>
                                    </p>
                                    <p>
                                        <span>Email</span>
                                        <br>
                                        <strong><a href="mailto:john@carsales.com">john@carsales.com</a></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 extras card">
                        <h3 class="align-center card-header">Extras:</h3>
                        <div class="car-extras card-body">
                            <ul>
                                <h3>Comfort</h3>
                                <li *ngFor="let comfort of advertisement.car.comforts">{{comfort}}</li>
                            </ul>
                            <ul>
                                <h3>Safety</h3>
                                <li *ngFor="let safety of advertisement.car.safeties">{{safety}}</li>
                            </ul>
                            <ul>
                                <h3>Exterior</h3>
                                <li *ngFor="let exterior of advertisement.car.exteriors">{{exterior}}</li>
                            </ul>
                            <ul>
                                <h3>Protection</h3>
                                <li *ngFor="let protection of advertisement.car.protections">{{protection}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div>
                        <h1 class="align-center">Comments:</h1>
                        <div class="media">
                            <img class="mr-3"
                                src="https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Media heading</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                                <div class="media mt-3">
                                    <a class="pr-3" href="#">
                                        <img src="https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg"
                                            alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Media heading</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                        felis in faucibus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>