
#wrapper > * > .inner {
	width: 100%;
	max-width: 80em;
	margin: 0 auto;
	padding: 0 2.5em;
}
     
#main {
    margin-top: 50px;
}

ul {
    padding: 0;
}

.extras,
.contact {
    padding: 0
}

ul li {
	list-style: disc;
}

.align-center {
	text-align: center;
}

.car-extras {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.car-extras ul {
	margin-top: 15px;
}

.car-extras ul h3 {
	margin-bottom: 25px;
}

.car-extras ul li {
	font-size: 15px;
	font-weight: 600;
}


.car-info {
	margin-top: 30px;
}

.ad-info {
	margin-bottom: 20px;
}

.car-description {
	padding-left: 20px;
}

.owner-info {
	padding-left: 43px;
}

.description {
	margin-top: 30px;
}

.price {
	margin-top: 30px;
	font-weight: bold;
	font-size: 30px;
}

.media img {
	min-width: 85px;
	max-width: 85px;
}

.contact-info {
	padding: 0;
}

.contact-header {
	margin-bottom: 0;
}

.first-contact-info {
	padding-left: 0;
}

.normal-pics img {
	min-height: 120px;
	max-height: 120px;
}

.carousel-inner img {
	min-height: 400px;
	max-height: 400px;
}


.carousel-indicators li {
	min-width: 100px;
	min-height: 70px;
	border: none;
	background-color: transparent;
}

.images {
	padding-right: 0;
	padding-left: 0;
	min-height: 500px;
	max-height: 500px;
}

.carousel-indicators img {
	min-width: 90px;
	max-width: 160px;
	min-height: 70px;
	max-height: 70px;
}

.car-image-indicators {
	overflow-x:auto;
	margin: 0;
	position: absolute;
    bottom: -93px;
}


@media screen and (max-width: 736px) {
	#wrapper > * > .inner {
		padding: 0 1.25em;
	}
 }

@media all and (max-width: 600px) {
	.car-extras {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-size: 12px;
	}

	.contact-info {
		flex-direction: column;
	}
}

