<app-header></app-header>
<div id="wrapper">
    <!-- Main -->
    <div id="main">
        <div class="inner">
            <div class="row ad-info">
                <div class="col-md-6 col-xs-12 images">
                    <article id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li *ngFor="let image of advertisement?.images; let i = index"
                                [ngClass]="{'active': i === 0}" 
                                data-target="#carouselExampleIndicators" [data-slide-to]="i">
                                <img class="d-block w-100" [src]="image.url" alt="First slide">
                            </li>
                        </ol>
                        <div class="carousel-inner">
                            <div *ngFor="let image of advertisement?.images; let i = index"
                                [ngClass]="{'active': i === 0}" class="carousel-item">
                                <img class="d-block w-100" [src]="image.url" alt="First slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </article>
                </div>

                <div class="col-md-6 col-xs-12 car-description">
                    <h2>{{advertisement?.title}}</h2>

                    <p class="lead description">{{advertisement?.description}}</p>

                    <p class="lead price"><strong class="text-primary">${{advertisement?.car.price.toFixed(2)}}</strong>
                    </p>

                    <div class="row car-info">
                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Type</span>
                                <br>
                                <strong>{{advertisement?.car.bodyType}}</strong>
                            </p>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Make</span>
                                <br>
                                <strong>{{advertisement?.car.brand.name}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Model</span>
                                <br>
                                <strong>{{advertisement?.car.model.name}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Year</span>
                                <br>
                                <strong>{{advertisement?.car.year}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Mileage</span>
                                <br>
                                <strong>{{advertisement?.car.mileage}}km</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Fuel</span>
                                <br>
                                <strong>{{advertisement?.car.fuelType}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Condition</span>
                                <br>
                                <strong>{{advertisement?.car.condition}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Power</span>
                                <br>
                                <strong>{{advertisement?.car.horsePower}} hp</strong>
                            </p>
                        </div>


                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Gearbox</span>
                                <br>
                                <strong>{{advertisement?.car.transmission}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Doors Count</span>
                                <br>
                                <strong>{{advertisement?.car.doorsCount}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Euro Standard</span>
                                <br>
                                <strong>{{advertisement?.car.euroStandard}}</strong>
                            </p>
                        </div>

                        <div class="col-md-4 col-sm-6">
                            <p>
                                <span>Color</span>
                                <br>
                                <strong>{{advertisement?.car.color}}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 first-contact-info">
                        <div class="col-lg-12 col-xs-12 contact-info">
                            <div class="card">
                                <div class="card-header align-center contact-header">
                                    <h3>Contact Details:</h3>
                                </div>
                                <div class="card-body owner-info">
                                    <p>
                                        <span>Name</span>
                                        <br>
                                        <strong>{{advertisement?.author.username}}</strong>
                                    </p>
                                    <p>
                                        <span>Mobile phone</span>
                                        <br>
                                        <strong><a>+{{advertisement?.author.phoneNumber}}</a></strong>
                                    </p>
                                    <p>
                                        <span>Location</span>
                                        <br>
                                        <strong><a>{{advertisement?.location}}</a></strong>
                                    </p>
                                    <p>
                                        <span>Email</span>
                                        <br>
                                        <strong><a>{{advertisement?.author.email}}</a></strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 extras card">
                        <h3 class="align-center card-header">Extras:</h3>
                        <div class="car-extras card-body">
                            <ul>
                                <h3>Comfort</h3>
                                <li *ngFor="let comfort of advertisement?.car.comforts">{{comfort}}</li>
                            </ul>
                            <ul>
                                <h3>Safety</h3>
                                <li *ngFor="let safety of advertisement?.car.safeties">{{safety}}</li>
                            </ul>
                            <ul>
                                <h3>Exterior</h3>
                                <li *ngFor="let exterior of advertisement?.car.exteriors">{{exterior}}</li>
                            </ul>
                            <ul>
                                <h3>Protection</h3>
                                <li *ngFor="let protection of advertisement?.car.protections">{{protection}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div>
                        <h1 class="align-center">Comments:</h1>
                        <div class="media">
                            <img class="mr-3"
                                src="https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg"
                                alt="Generic placeholder image">
                            <div class="media-body">
                                <h5 class="mt-0">Media heading</h5>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce
                                condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                                <div class="media mt-3">
                                    <a class="pr-3" href="#">
                                        <img src="https://image.shutterstock.com/image-vector/male-silhouette-avatar-profile-picture-260nw-199246382.jpg"
                                            alt="Generic placeholder image">
                                    </a>
                                    <div class="media-body">
                                        <h5 class="mt-0">Media heading</h5>
                                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                                        sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra
                                        turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue
                                        felis in faucibus.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>