<div *ngIf="isLoggedIn" class="card my-4 comment-form">
    <h5 class="card-header">Leave a Comment:</h5>
    <div class="card-body comment-form-body">
        <form [formGroup]="createCommentForm" (ngSubmit)="create()">
            <div class="text-danger"></div>
            <div class="form-group form-input">
                <textarea id="Content" class="form-control" rows="3" formControlName="content"></textarea>
            </div>
            <div *ngIf="content.touched && content.errors?.minlength" class="alert alert-danger">
                Comment must contain at least 2 characters!
            </div>
            <div *ngIf="content.touched && content.errors?.maxlength" class="alert alert-danger">
                Comment can't be longer than 300 characters!
            </div>
            <div class="form-group form-input">
                <input type="submit" value="Comment" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div *ngIf="!isLoggedIn" class="alert alert-info text-center not-loggedIn-alert" role="alert">
    <h5>You have to be logged in to post a comment!</h5>
    <p>
        <a routerLink='/login' class="text-dark"><i class="fas fa-sign-in-alt"></i>Login</a> &nbsp; | &nbsp;
        <a routerLink='/register' class="text-dark"><i class="fas fa-user-plus"></i> Register</a>
    </p>
</div>