<div *ngIf="user" class="body">
    <div class="container emp-profile">
        <div method="post">
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-img">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog"
                            alt="" />
                        <!-- <img *ngIf="!user.profilePictureUrl" class="align-self-center mr-3 img-thumbnail"
                            src="https://res.cloudinary.com/doyjshrjs/image/upload/v1583873417/no_image_uj863g.jpg" /> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h5>{{user.username}}</h5>

                        <h6 *ngIf="user.phoneNumber"><i class="fas fa-phone"></i> +{{user.phoneNumber}}</h6>
                        <h6 *ngIf="!user.phoneNumber"><i class="fas fa-phone"></i> No given phone number</h6>

                        <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                    aria-controls="home" aria-selected="true">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                                    aria-controls="profile" aria-selected="false">Advertisements</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2">
                    <a *ngIf="currentUserId == user.id" href="#" class="profile-edit-btn">Edit Profile</a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>WORK LINK</p>
                        <a href="">Website Link</a><br />
                        <a href="">Facebook Profile</a><br />
                        <a href="">Instagram Profile</a>
                        <p>SKILLS</p>
                        <a href="">Communication</a><br />
                        <a href="">Ambitious</a><br />
                        <a href="">SelfMotivation</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">Team Player</a><br />
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Full Name</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.fullName}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Location</label>
                                </div>
                                <div class="col-md-6">
                                    <p *ngIf="user.location">{{user.location}}</p>
                                    <p *ngIf="!user.location">No selected location</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Gender</label>
                                </div>
                                <div class="col-md-6">
                                    <p *ngIf="!user.gender">No selected gender</p>
                                    <p *ngIf="user.gender">{{user.gender}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Joined On:</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{user.createdOn}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <label>Experience</label>
                                </div>
                                <div class="col-md-6">
                                    <p>Expert</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Hourly Rate</label>
                                </div>
                                <div class="col-md-6">
                                    <p>10$/hr</p>
                                </div>
                            </div> -->
                            <div *ngIf="user.advertisements.length == 0" class="no-ads">
                                <h1>User does not have any created advertisements</h1>
                            </div>
                            <div class="list-group-horizontal-sm">
                                <a *ngFor="let advertisement of user.advertisements" [routerLink]="['/advertisement', advertisement.id]" class="list-group-item list-group-item-action flex-column align-items-start">
                                    <div class="media">
                                        <img *ngIf="advertisement.imageUrl" class="align-self-center mr-3 img-thumbnail"
                                            [src]="advertisement.imageUrl"
                                            width="120" height="120">
                                        <img *ngIf="!advertisement.imageUrl" class="align-self-center mr-3 img-thumbnail"
                                            src="https://res.cloudinary.com/doyjshrjs/image/upload/v1583873417/no_image_uj863g.jpg"
                                            width="120" height="120">
                                        <div class="media-body">
                                            <div class="d-flex w-100 justify-content-between">
                                                <h6 class="mb-1">{{advertisement.title}}</h6>
                                                <small><i class="fas fa-calendar-alt"></i>&nbsp; {{advertisement.createdOn}}</small>
                                            </div>
                                            <p class="mb-1">{{advertisement.shortDescription}}</p>

                                            <div class="d-flex w-100 align-middle">
                                                <h6>
                                                    <i class="fas fa-user"></i> {{user.username}}
                                                    &nbsp; <i class="fas fa-eye"></i> {{advertisement.views}}
                                                    &nbsp; <i class="fas fa-comments"></i> {{advertisement.commentsCount}}
                                                </h6>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>